---
layout: eu
wide: true
category: program
title: Lidé

---
{% assign posts = (site.posts | where: "category", "lide" | sort: 'page_position', 'last') %}

{% assign modulo = 0 %}

{% for post in posts %}

{% if modulo == 0 or forloop.first %}
  <div class="row blog">
{% endif %}

<div class="medium-6 columns{% if forloop.last and modulo == '0' %} end{% endif %}">
<img src="{{ post.image }}" width="100" height="123" align="left"/>
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<!--{% if post.autor %} <span class="radius label">{{ post.autor}}</span> {% endif %}-->
{% if post.date %}  <span class="radius secondary label">{{ post.date | date: "%d.%m.%Y" }}</span> {% endif %}
{% if post.excerpt %}{{ post.excerpt | truncatewords: 30 }}
{% else %}
<!--{{ post.content | strip_html | truncatewords: 30 }}-->
{% endif %}
<a href="{{ post.url }}" >O Pirátovi</a>.
</div>
{% if modulo == 1 or forloop.last %}
  </div>
{% endif %}

{% if modulo == 0 %}
  </br>
  </br>
  </br>
  {% assign modulo = 1 %}
{% else %}
  {% assign modulo = 0 %}
  </br>
{% endif %}
{% endfor %}
